<!-- Header Section -->
<header class="header">
  <div class="logo">AI-PLAN</div>
  <nav class="navbar">
      <a href="#" class="nav-link ">Home</a>
      <a href="about" class="nav-link">About</a>
      <a href="dashboard" class="nav-link">Dashboard</a>
      <a href="studyplan" class="nav-link">Study plan</a>
      <a href="progress" class="nav-link">Progress</a>
  </nav>
  <div class="auth-buttons">
      <a href="signup" class="sign-in">Sign Up</a>
      <a href="login" class="login">Login</a>
  </div>
</header>
<router-outlet></router-outlet>
